*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#312e81,#06b6d4);
}

.card{
    width:450px;
    padding:40px;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(20px);
    border-radius:25px;
    text-align:center;
    box-shadow:0 20px 40px rgba(0,0,0,.4);
}

h1{
    color:white;
    margin-bottom:25px;
}

.input-box{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    border-radius:12px;
    outline:none;
    font-size:18px;
}

.btn{
    width:100%;
    padding:15px;
    margin-top:15px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#8b5cf6,#06b6d4);
    color:white;
    font-size:18px;
    cursor:pointer;
}

.btn:hover{
    transform:translateY(-3px);
}

.result{
    display:none;
    margin-top:20px;
    padding:15px;
    border-radius:12px;
    color:white;
    font-size:22px;
    font-weight:bold;
}